<label class="floating-label" for="">
    <span>{{label()}}</span>
    <input [class.input-error]="control.invalid && control.touched"
        [class.input-success]="control.valid && control.touched" [max]="maxDate()" [type]="type()" class="input w-full"
        [formControl]="control" [placeholder]="label()" required>
    @if(control.hasError('required') && control.touched){
    <span class="text-error validation-hint text-xs">{{label()}} is required
        long</span>
    }
    @if(control.hasError('email') && control.touched){
    <span class="text-error validation-hint text-xs">invalid email address</span>
    }
    @if(control.hasError('minlength') && control.touched){
    <span class="text-error validation-hint text-xs">{{label()}} must be at least
        {{control.errors?.['minlength'].requiredLength}} characters long</span>
    }
    @if(control.hasError('maxlength') && control.touched){
    <span class="text-error validation-hint text-xs">{{label()}} must be at most
        {{control.errors?.['maxlength'].requiredLength}} characters long</span>
    }
    @if(control.hasError('passwordMismatch') && control.touched){
    <span class="text-error validation-hint text-xs">password not match</span>
    }
</label>