<div class="card bg-base-100 w-1/2 mx-auto flex flex-col p-6 rounded-lg shadow-lg">
    <div class="card-title justify-center text-3xl text-primary">Sign up</div>
    <div class="card-body w-full">
        <ul class="steps">
            <li class="step step-primary">Credentials</li>
            <li class="step" [class.step-primary]="currentStep() === 2">Profile</li>
        </ul>
        @if(currentStep() === 1){
        <form [formGroup]="credentialsForm" class="flex flex-col gap-3 w-full " (ngSubmit)="register()">
            <app-text-input formControlName='email' label="Email"></app-text-input>
            <app-text-input formControlName='displayName' label="Display Name"></app-text-input>
            <app-text-input formControlName='password' label="Password"></app-text-input>
            <app-text-input formControlName='confirmPassword' label="Confirm Password"></app-text-input>

            <select class="select w-full">
                <option disabled selected value="">members</option>
                @for( member of membersFromHome();track member.id){
                <option value={{member.id}}>{{member.displayName}}</option>
                }
            </select>
            <div class="flex items-center justify-end gap-3">
                <button [disabled]="credentialsForm.invalid" class="btn btn-info" (click)="nextStep()">Next</button>
                <button class="btn btn-primary" (click)="cancel()" type="button">cancel</button>
            </div>
        </form>
        }
        @if(currentStep() === 2){
        <form [formGroup]="profileForm" class="flex flex-col gap-3 w-full " (ngSubmit)="register()">
            <div class="flex items-center gap-4">
                <div class="font-semibold"> Gender : </div>
                <label class="flex gap-3 items-center" for="">
                    <span>Male</span>
                    <input type="radio" formControlName='gender' value="male" class="radio radio-primary">
                </label>
                <label class="flex gap-3 items-center" for="">
                    <span>Female</span>
                    <input type="radio" formControlName='gender' value="female" class="radio radio-primary">
                </label>
            </div>
            <app-text-input [maxDate]="getMaxDate()" type="date" formControlName='dateOfBirth' label="Date Of Birth"></app-text-input>
            <app-text-input formControlName='city' label="City"></app-text-input>
            <app-text-input formControlName='country' label="Country"></app-text-input>

            <div class="flex items-center justify-end gap-3">
                <button  class="btn btn-info" (click)="prevStep()">Back</button>
                <button [disabled]="profileForm.invalid" class="btn btn-primary" (click)="register()" type="button">Register</button>
            </div>
        </form>
        }
    </div>
    @if(validationErrors() && validationErrors().length > 0){
        <div class="mt-5 flex bg-gray-200 rounded-2xl w-1/2 p-3  mx-auto">
            <ul class="flex flex-col text-error space-y-1">
                @for(error of validationErrors();track error){
                <li class="text-sm">{{error}}</li>
                }
            </ul>
        </div>
    }
</div>